# These owners will be the default owners for everything in the repo.
* @microsoft/dynamics-smb-engineering-systems

# Build system files
/.github @microsoft/dynamics-smb-engineering-systems
/CODEOWNERS @microsoft/dynamics-smb-engineering-systems
